@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html, body, #app { 
  height: 100%; 
  margin: 0px; 
  padding: 0px; 
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.navbar {
  text-align: center;
}

#canvas {
  width: 500px;
  height: 400px;
  border: thin;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  display: block;
  margin: 0 auto;
  margin-top: 20px;

}

#canvas:hover {
  cursor: crosshair;
}

.line {
  stroke-width: 6;
}

.canvas-title h2,
.canvas-title p {
  margin-left: 20px;
  margin-bottom: 5px;
}

.black {
  stroke: black;
}

.blue {
  stroke: blue;
}

.red {
  stroke: red;
}

.green {
  stroke: green;
}